*{
    margin:0;
    padding:0;
    box-sizing:border-box; /* To box model*/

}

/* Global */

body{
    font-family:"Merriweather",sans-serif;
    background-color:#ebf2ff;
    overflow-x:hidden;
}
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
color:#fff;
padding:12px;
border:none;
border-radius:6px;
cursor:pointer;
}
.container{
    width:100%;
    margin:0 auto;
    padding:0 15px; 
}

.navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width:100%;
}

.hero__container{
    width:100%;
    height:auto;
}
.hero__image__container{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
}
.hero__image__box{
    width:100%;
    position:realtive;
}
.hero__image{
    width:100%;
}
.hero__svg__box__1{
    position:absolute; 
    width:90px;
    height:90px;
    margin:-25px;
    left:37px;
    top:0;    
    z-index:-3;
    width:100%;
}
.hero__svg__box__2{
    position:absolute;
    width:90px;
    height:90px;
    top:0;
    left:10px;
    margin-top:-29px;
    z-index:-2;
    width:100%; 
}
#blobSvg{
    width:100%;
}

.hero__description{
    width:100%;
}
.hero__text{
    font-size:30px;
    color:#1d3557;
    margin:20px 0;
}
/* Menu Styles */
.explore__menu__container{
    margin-top:50px;
}

.explore__menu__text{
    font-size:30px;
    color:#1d3557;
    margin:20px 0;
    text-align:center;
}

.food__menu__card{
    width:100%;
    border-radius:8px;
    margin-bottom:15px;
}
.food__image{
    width:100%;
    border-radius:8px 8px 0 0;
}
.food__menu__card__description{
    padding:20px;
    background-color:#fff;
    border-radius:0 0 8px 8px;
}
.explore__menu__view__more{
    display:flex;
    justify-content:center;
}
/* Flex */
.restaurants__descrioption{
    font-size:30px;
    color:#1d3557;
    margin:20px 0;
    text-align:center;
}
.restaurants__flex{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:3px;
}
.restaurant__2,.restaurant__3{
    width:170px;
    height:150px;
    z-index:5;
}
.restaurant__3{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.restauarnt__1__image{
    width:100%;
    height:100%;
    border-radius:5px;
}
.restaurant__4__image{
    width:100%;
    height:100%;
    border-radius:5px;

}
.restaurant__1__box{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}
.restaurant__1{
    width:135px;
    height:135px;
    display:flex;
    padding-bottom:0;
}

.restaurant__4{
    width:135px;
    height:135px;
    display:flex;
    padding-bottom:0;

}
.restaurant__2__image,.restaurant__3__image{
    width:100%;
    height:100%;
    border-radius:5px;

}
/* form */
.updation__form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.form__box__description{
    font-size:30px;
    color:#1d3557;
    margin:20px 0;
    text-align:center;
}
.form{
    width:100%;
    
}
.form__input{
    width:300px;
    margin-bottom:20px;
    height:20px;
    border:2px solid #ff6347 ;
    background-color:#fefbea ;
}
/* Quotes */
.Quotes__background{
    display:flex;
    margin:20px 0;
    position:relative;
    align-items:center;
    width:100%;
    height:200px;
}
.background{
    width:100%;
    height:100%;
}
.background__restaurant{
    width:100%;
    height:100%;
    border-radius:5px;

}
.quote{
    text-align:center;
    position:absolute;
    font-size:25px;
    left:5px;
    color:whitesmoke;
}
/* Footer */
.footer{
    width:100%;
    height:150px;
    border-radius:8px;
    display:flex;
    /* justify-content:space-evenly; */
    gap:20px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
}
.footer__logo__box{
    width:65%;
    height:150px;
}
.footer__logo{
    width:100%;
    height:100%;
    color:#fff;
}
.others ul li{
    list-style-type: none;
    color:white;
    font-size:13px;
}
.others{
    position:relative;

}
.others__list{
    position:absolute;
    left:10px;
    top:20px;
}

@media (min-width:768px){

    .navbar{
        justify-content: space-between;
        padding:10px 20px;
    }
    .navbar__brand{
        width:150px;
    }
    .nav__item{
        padding:12px 20px;
        font-size:20px;
    }
    .button__primary{
        padding:15px 20px;
    }
    .hero__container{
        display:flex;
        flex-direction: row-reverse;
        align-items:center;
        justify-content: space-between;
    }
     .hero__svg__box__1{
        width:350px;
        height:350px;
        margin-top:-15px;
    }
    .hero__svg__box__2{
        width:350px;
        height:350px;
        margin-top:-20px;
    } 
    .explore__menu__container{
        position:relative; 
    }
    .explore__menu__gradient__bg{
        position:absolute;
        left:0;
        top:0;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
        height:100%;
        width:100%;
        z-index:-3;
        transform:skewY(-5deg);
    }
    .explore__menu__lists{
        margin-top:30px;
        display:flex;
        gap:8px;
    }
    #pizza__card{
        margin-top:-20px;
        margin-bottom:20px;
    }
    .restaurants__descrioption{
        width:100%;
        font-size:45px;
    }
    .restaurants__container{
        display:flex;
        align-items:center;
    }
    .restaurants__flex{
        gap:8px;
    }
    .restaurant__1{
        width:160px;
        height:150px;
    }
    .restaurant__2{
        width:200px;
        height:200px;
    }
    .restaurant__3{
        width:200px;
        height:200px;
    }
    .restaurant__4{
        width:160px;
        height:150px;
    }
    .updation__form{
        flex-direction:row;
        justify-content:baseline;
    }
    .form__box{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;

    }
    
    .form__box__description{
        font-size:45px;
    }
    .form__submit__items{
        width:60%;
    }
    .form__items{
        padding-top:70px;
    }
    .Quotes__background{
        height:270px;
        align-items:center;
    }
    .background__restaurant{
        border-radius:10px;
    }
    .quote{
        font-size:35px;
    }
    .footer{
        height:210px;
    }
    .footer__logo__box{
        position:relative;
    }
    .footer__logo__cover{
        width:70%;
        position:absolute;
        left:50px;
       
    }
    .footer__logo{
        
        width:100%;
    }
    .others ul li{
        font-size:15px;
    }
    .others__list{
        top:50px;
    }
    
}
@media (min-width:1020px){
    .container{
       max-width:900px; 
    }
    
    .hero__text{
        font-size:50px;
    }
    .hero__svg__box__1{
        width:400px;
        height:400px;
        margin-top:-15px;
    }
    .hero__svg__box__2{
        width:400px;
        height:400px;
        margin-top:-20px;
    } 
    .explore__menu__text{
        font-size:50px;
    }
    .explore__menu__lists{
        gap:20px;
        padding:0 20px;
    }
    
    .restaurants__container{
        display:flex;
        gap:4px;
    }
    .restaurants__descrioption{
        font-size:55px;
        width:90%;
    }
    .restaurants__flex{
        gap:8px;
    }
    .restaurant__1,.restaurant__4{
        width: 290px;
        height:270px;
    }
    .restaurant__2,.restaurant__3{
        width:335px;
        height:300px;
    }
    .form__box__description{
        font-size:55px;
    }
    .form__input{
        height:30px;
        width:350px;
    }
    .button__primary{
        padding:20px 30px;
    }
    .background{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .background__restaurant{
        width:95%;
        height:300px;
    }
    .quote{
        font-size:40px;
    }
    .footer{
        padding:15px 0;
        height:310px;
    }
    .others ul li{
        font-size:20px;
    }
    .others__list{
        top:70px;
        right:40px;
    }
    .footer__logo__cover{
        width:70%;
        height:260px;
    }
    .footer__logo{
        width:100%;
        height:100%;
    }
}
@media (min-width:1400px){
    .container{
        max-width:1250px; 
     }
}